/* Control the left side */
.left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: red;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

 button{
   background-color: #005b96
 }
 body{
    background-image: url("resources/background.png");
    color: white;
 }
 .moviePic{
  opacity: .7;
 }
 .moviePic:hover{
   opacity: 1.0;
 }
 .navchoices a:hover{
background-color: #808080
 }
 .navchoices a:active{
   background-color: #005b96
 }
 .myWork{
   background-color: #808080;
   padding: 20px 0px 25px 0px;
 }
 .title{
   text-align: left
 }
 .sticky{
   position: fixed;
   top: 0;
   width: 100%;
 }
.intro{
  float: right;
}
.about{
  background-color:white;
}
.button{
  background-color: #808080;
}
.iupui{
  float: right;
}